{% extends 'base.html' %}

{% block title %} Clienti {% endblock title %}

{% block current_page %} Clienti {% endblock current_page %}


{% block content %}
    <div class="container" style="text-align: center">
        <div class="buttons_action" style="margin-top: 5%; margin-bottom: 5px; float: right">
            <a href="/addClient" id="button_add" type="button" class="btn btn-success">Adauga client nou</a>
            <a href="/clienti" id="button_delete" onclick="delete_rows()" type="button" class="btn btn-danger">Sterge</a>
        </div>

        <table class="table table-striped table-dark">
          <thead>
            <tr>
              <th scope="col">ID_Client</th>
              <th scope="col">CNP_Client</th>
              <th scope="col">Nume</th>
              <th scope="col">Prenume</th>
              <th scope="col">Telefon</th>
              <th scope="col">Judet</th>
              <th scope="col">Oras</th>
              <th scope="col">Strada</th>
              <th scope="col">Nr_casa</th>
              <th scope="col">Editare</th>
              <th scope="col">Checkboxes</th>
            </tr>
          </thead>
          <tbody>
            {% for client in clienti %}
                <tr>
                  <td>{{ client.id_client }}</td>
                  <td>{{ client.CNP_Client }}</td>
                  <td>{{ client.nume }}</td>
                  <td>{{ client.prenume }}</td>
                  <td>{{ client.telefon }}</td>
                  <td>{{ client.judet }}</td>
                  <td>{{ client.oras }}</td>
                  <td>{{ client.strada }}</td>
                  <td>{{ client.numar_poarta }}</td>
                  <td><a href="{% url 'editareClient' client.id_client %}" style="color: black" type="button" class="btn btn-warning">Editeaza</a></td>
                  <td style="text-align: center"><input type="checkbox" id="{{ client.id_client }}" onclick="check( {{ client.id_client }} )"
                                                         aria-label="Checkbox for following text input"></td>
                </tr>
            {% endfor %}
          </tbody>
        </table>
    </div>

    <script>
        var checklisturi_apasate = [];
        function delete_rows(){
            if (confirm('Esti sigur ca vrei sa stergi id-urile(' + checklisturi_apasate + ')?')) {
                $.post( "", { data: JSON.stringify({
                    checklisturi_apasate: checklisturi_apasate
                }) }, function(response) {
                })
            }
        }

        function check(id) {
            if (checklisturi_apasate.includes(id)){
                const index = checklisturi_apasate.indexOf(id);
                if (index > -1) {
                  checklisturi_apasate.splice(index, 1);
                }
            }else{
                checklisturi_apasate.push(id)
            }
        }
    </script>

{% endblock content %}