{% extends 'base.html' %}

{% block title %} Comenzi Distincte {% endblock title %}
{% block current_page1 %} Comenzi distincte {% endblock current_page1 %}

{% block content %}
    <div class="container">
        <br><br><h1 style="text-align: center; font-family: 'Oswald', sans-serif;"> Comenzi Distincte</h1>
        <table class="table table-striped table-dark" style="margin-top: 5%;">
          <thead>
            <tr>
              <th scope="col" style="text-align: center">Comenzi</th>
            </tr>
          </thead>
          <tbody>
            {% for i in lista_comenzi_distincte %}
                <tr>
                  <th scope="row" style="text-align: center">{{ i }}</th>
                </tr>
            {% endfor %}
          </tbody>
        </table>
    </div>

{% endblock content %}