{% extends 'base.html' %}

{% block current_page %} Specialisti {% endblock current_page %}

{% block content %}
    <div class="container" style="text-align: center">
        <div class="buttons_action" style="margin-top: 5%; margin-bottom: 5px; float: right">
            <a href="/addSpecialist" id="button_add" type="button" class="btn btn-success">Adauga specialist nou</a>
            <a href="/specialisti" id="button_delete" onclick="delete_rows()" type="button" class="btn btn-danger">Sterge</a>
        </div>
        <table class="table table-striped table-dark">
          <thead>
            <tr>
              <th scope="col">ID_Specialist</th>
              <th scope="col">ID_Echipa</th>
              <th scope="col">Nume</th>
              <th scope="col">Prenume</th>
              <th scope="col">Specializare</th>
              <th scope="col">Checkboxes</th>
            </tr>
          </thead>
          <tbody>
            {% for specialist in specialisti %}
                <tr>
                  <td>{{ specialist.id_specialist }}</td>
                  <td>{{ specialist.id_echipa }}</td>
                  <td>{{ specialist.nume }}</td>
                  <td>{{ specialist.prenume }}</td>
                  <td>{{ specialist.specializare }}</td>
                  <td><a href="{% url 'editareSpecialist' specialist.id_specialist %}" style="color: black" type="button" class="btn btn-warning">Editeaza</a></td>
                  <td style="text-align: center"><input id="{{ specialist.id_specialist }}" onclick="check( {{ specialist.id_specialist }} )"
                                                        type="checkbox" aria-label="Checkbox for following text input"></td>
                </tr>
            {% endfor %}
          </tbody>
        </table>
    </div>

    <script>
        var checklisturi_apasate = [];
        function delete_rows(){
            $.post( "", { data: JSON.stringify({
                    checklisturi_apasate: checklisturi_apasate
                }) }, function(response) {
            })
        }

        function check(id) {
            if (checklisturi_apasate.includes(id)){
                checklisturi_apasate.pop(id)
            }else{
                checklisturi_apasate.push(id)
            }
        }

    </script>


{% endblock content %}