{% extends 'base.html' %}

{% block title %} Comenzi {% endblock title %}

{% block current_page %} Stare comenzi {% endblock current_page %}

{% block content %}
    <div class="container">
        <h1 style="text-align: center; margin-top: 3%; font-family: 'Oswald', sans-serif;"> Comenzi in desfasurare sau comenzi plasate.</h1>
        <table class="table table-striped table-dark" style="margin-top: 5%;">
          <thead>
            <tr>
              <th scope="col">ID_Comanda</th>
              <th scope="col">CNP_Client</th>
              <th scope="col">Data</th>
              <th scope="col">Stare</th>
              <th scope="col">Descriere (client)</th>
            </tr>
          </thead>
          <tbody>
            {% for comanda in comenzi %}
                <tr>
                  <th scope="row">{{ comanda.id_comanda }}</th>
                  <td>{{ comanda.CNP_Client }}</td>
                  <td>{{ comanda.data_comanda }}</td>
                  <td>{{ comanda.stare_comanda }}</td>
                  <td>{{ comanda.descriere }}</td>
                </tr>
            {% endfor %}
          </tbody>
        </table>
    </div>

{% endblock content %}